
    /*    button    */

.button {
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.button:focus {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: none;
    outline: none;
}

    /*    submit button    */

.button-submit {
    display: block;
    margin: 2rem auto;
}

    /*    skins    */

.button-medium {
    font-size: 2rem;
    padding: 0.7rem;
    letter-spacing: 0.07rem;
}

.button-blue {
    background: #53B0FD;
    color: #ffffff;
}
.button-blue:hover {
    background: #4090D2;
}
