fieldset {
    border: none;
}
textarea {
    resize: none;
    border: #cccccc 1px solid;
}
form {
    margin: 3px;
    padding: 5px;
    border: rgba(0,0,0,0.1) 1px dashed;
}

form h3 {
    margin-left: 20px;
}