
    /*    general    */

.no-resize {
    resize: none;
}

    /*    basic form    */

.basic-form {
    margin: 0.3rem;
    padding: 0.5rem;
    border: rgba(0,0,0,0.1) 1px dashed;
}

.basic-input-text, .basic-textarea {
    -webkit-appearance:none;
    outline: 0;
    font-family: Raleway, sans-serif;
}
.textarea-label {
    vertical-align: top;
    padding: 0.3rem;
}

    /*    input skin    */

.input-large {
    font-size: 2rem;
    margin: 0 0.5rem;
    padding: 0.7rem;
}
