
    /*    general    */

.no-resize {
    resize: none;
}

    /*    basic form    */

.basic-form {
    margin: 3px;
    padding: 5px;
    border: rgba(0,0,0,0.1) 1px dashed;
}

.basic-form h3 {
    margin-left: 20px;
}

.basic-input-text, .basic-textarea {
    -webkit-appearance:none;
    outline: 0;
    font-family: Raleway, sans-serif;
}
.textarea-label {
    vertical-align: top;
    padding: 0.3em;
}

    /*    input skin    */

.input-large {
    font-size: 18px;
    margin: 0 0.5em;
    padding: 0.4em;
}
