
@import url("typography.css");
@import url("semantics.css");
@import url("gallery.css");

body {
	margin: 0;
}
h1 {
	text-align: center;
}
.container {
	margin: 2em 8em;
	padding: 1em;
	min-height: 800px;
	background: rgba(255, 255, 255, 0.94);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
	border: #333333 1px solid;
}

/*	link list */
ul.link-list {
	list-style: none;
    padding-left: 0;
}
ul.link-list li {
	display: inline-block;
	background: rgba(0,0,0,0.1);
	border-radius: 10px;
	padding: 10px;
}
ul.link-list li:before {
	content: ">>";
	letter-spacing: -3px;
}

.side-nav {
	position: fixed;
	right: 0;
	top: 100px;
}
.side-nav ul{
	list-style: none;
}
.footer-blessing {
	padding: 50px;
}




