body {
	font-family: Tahoma, sans-serif;
	margin: 0;
}
h1 {
	text-align: center;
}
a {
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}
.container {
	margin: 2em 8em;
	padding: 1em;
	min-height: 800px;
	background: rgba(255, 255, 255, 0.94);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
	border: #333333 1px solid;
}

/*	link list */
ul.link-list {
	list-style: none;
    padding-left: 0;
}
ul.link-list li {
	display: inline-block;
	background: rgba(0,0,0,0.1);
	border-radius: 10px;
	padding: 10px;
}
ul.link-list li:before {
	content: ">>";
	letter-spacing: -3px;
}

/*	galery	*/

img.gallery {
	display: inline-block;
	border-radius: 20px;
	opacity: .8;
	height: 200px;
}
img.gallery:hover {
	opacity: 1;
	transition: all 0.3s linear;
}
div.gallery-wrapper {
	display: inline-block;
	background: #000000;
	border-radius: 20px;
	height: 200px;
}
q:before {
	content: '"';
}
q:after {
	content: '"';
}