
    /*    general    */

.no-spacing {
    margin: 0;
    padding: 0;
}
.visually-hidden {
    position: absolute;
    visibility: hidden;
}
.no-bullets {
    list-style: none;
}
.no-border {
    border: none;
}
.gray-border {
    border: #cccccc 1px solid;
}
.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

    /*    base layout    */

html {
    font-size: 62.5%;
}

body {
    background: url("http://www.zingerbug.com/Backgrounds/background_images/baby_blue_diagonal_stripes_seamless_background_pattern.jpg");
    margin: 0;
}
.background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(199, 199, 255, 0.48), rgba(0, 0, 74, 0.87));
}
.styled-box {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border: #333333 1px solid;
}
.container {
    padding: 3rem;
    min-height: 80rem;
    border-radius: 10px;
}

@media screen and (max-width: 499px) {
    .container {
        margin: 1.5rem 1.5rem;
    }
}
@media screen and (min-width: 500px) and (max-width: 879px) {
    .container {
        margin: 3rem 9rem;
    }
}
@media screen and (min-width: 880px) {
    .container {
        margin: 3rem 14rem;
    }
}

    /*    side nav    */

.side-nav {
    float: right;
}