
    /*    menu    */

.main-menu a:hover {
    text-decoration: none;
}
.main-menu ul {
    text-align: center;
}
@media screen and (max-width: 499px) {
    .main-menu li a{
        font-size: 1.7rem;
        line-height: 3.3rem;
    }
}
@media screen and (min-width: 500px) and (max-width: 887px) {
    .main-menu li a{
        font-size: 1.7rem;
        line-height: 4rem;
        padding: 0 1.1rem;
    }
}
@media screen and (min-width: 888px) {
    .main-menu li a{
        font-size: 2rem;
        line-height: 5.7rem;
        padding: 0 4rem;
    }
}
@media screen and (min-width: 500px) {
    .responsive-list li{
        display: inline-block;
    }
}

.main-menu .active {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.main-menu a{
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    display: block;
    line-height: 5.7rem;
}
.main-menu ul li:hover {
    background: rgba(0, 0, 0, 0.1);
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -o-transform: skewX(10deg);
    transform: skewX(10deg);
}

    /*    social media    */

.social-media-bar {
    position: fixed;
    background: #fff;
    z-index: 100;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}
.social-media-list {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}
.social-media-list li {
    opacity: 0.8;
    filter: alpha(opacity=80);
    height: 64px;
    width: 64px;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.66);
}
.social-media-list li:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.social-media-list li img {
    width: 64px;
    -webkit-filter: invert(100%);
}

@media screen and (max-width: 499px) {
    .social-media-bar {
        border-radius: 0 10px 0 0;
        font-size: 0;
        bottom: 0;
        left: 0;
    }
    .social-media-list li {
        display: inline-block;
        padding: 0.5rem;
    }
}
@media screen and (min-width: 500px) {
    .social-media-bar {
        top: 10rem;
        right: 0;
    }
    .social-media-list li {
        display: block;
        padding: 0.5rem;
    }
}


.facebook-share {
    background-color: #4A6EA9;
}
.twitter-share {
    background-color: #32DEF4;
}
.pinterest-share {
    background-color: #D64136;
}
.googleplus-share {
    background-color: #D73532;
}
