    /*    menu    */
.main-menu {
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.94);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border: #333333 1px solid;
    text-align: center;
}
.main-menu a:hover {
    text-decoration: none;
}
.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-menu ul li {
    display: inline-block;
    margin: 0;
    padding: 1em 3em;
    height: 100%;
}
.main-menu ul li:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}