
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Raleway);

    /*    General Typography    */
body {
    font-family: Raleway, sans-serif;
}

    /*    Anchor Tags    */
a {
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

    /*    Quotes    */
.quote-block {
    background: #86D6ED;
    border-left: 8px solid #749BFF;
    margin: 0.3em;
    padding: 0.5em 1.5em;
    display: inline-block;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.quote {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
.quote:before,.quote:after {
    font-size: 50px;
    color: #749BFF;
    position: relative;
    top: 17px;
}
.quote:after {
    top: 32px;
}
.quoter {
    display: block;
    text-align: right;
    margin-top: 0.8em;
}

    /*    headings    */
.centered-text {
    text-align: center;
}

    /*    link list    */
.link-list {
    list-style: none;
    padding-left: 0;
}
.link-list-item {
    display: inline-block;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 0 0.3em;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.link-list-item:before {
    content: ">>";
    letter-spacing: -3px;
}

    /*    tooltips    */
.tooltip-wrapper {
    position: relative;
}
.tooltip-wrapper:hover .tooltip{
    display: inline-block;
}
.tooltip {
    background: #4090D2;
    display: none;
    margin: 4px;
    padding: 5px 10px;
    top: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    position: absolute;
}
.tooltip:before {
    background: #4090D2;
    display: inline-block;
    height: 10px;
    width: 10px;
    content: '';
    transform: rotate(45deg);
    bottom: 24px;
    left: 20px;
    position: absolute;
}

    /*    footer    */

.site-footer {
    border-top: #fff 1px solid;
    padding: 1em;
}
.site-footer-message {
    color: #ffffff;
    padding: 2em;
}
.footer-blessing {
    padding: 50px;
}