
/*    font    */

@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Raleway);

/*    General Typography    */

body {
    font-family: Raleway, sans-serif;
}
.text-medium {
    font-size: 1.6rem;
}

/*    Anchor Tags    */

a {
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

/*    Quotes    */

.quote-block {
    margin: 0.3rem;
    padding: 0.5em 1.5em;
    display: inline-block;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.quote {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
.quote:before,.quote:after {
    font-size: 5rem;
    position: relative;
    top: 1.7rem;
}
.quote:after {
    top: 3.2rem;
}
.quote-block-blue {
    background: #86D6ED;
    border-left: 0.8rem solid #749BFF;
}
.quote-block-blue .quote:before,
.quote-block-blue .quote:after {
    color: #749BFF;
}

.quoter {
    display: block;
    text-align: right;
    margin-top: 0.8rem;
}

/*    headings    */

.centered-text {
    text-align: center;
}

/*    paragraph    */

.paragraph:first-letter {
    font-size: 2rem;
    margin: 0 0.07rem;
    vertical-align: bottom;
    font-weight: bold;
}

/*    link list    */

.link-list {
    padding-left: 0;
}
.link-list-item {
    display: inline-block;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 0.3rem;
}
.link-list-item a {
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}
.link-list-item-dark {
    background: rgba(0,0,0,0.1);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.link-list-item-dark a {
    color: #000000;
}

.link-blue {
    color: #4A6EA9;
    font-weight: bold;
}
.link-list-item:before {
    content: ">>";
    letter-spacing: -0.3rem;
}

/*    tooltips    */

.tooltip-wrapper {
    position: relative;
}
.tooltip-wrapper:hover .tooltip{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.tooltip {
    margin: 0.4rem;
    padding: 0.5rem 1rem;
    top: 5rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
.tooltip:before {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 2.4rem;
    left: 2rem;
    position: absolute;
}
.tooltip-blue, .tooltip-blue:before {
    background: #4090D2;
    color: white;
}

/*    logo    */

.logo {
    width: 4rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 10%;
    position: absolute;
    top: 0;
    font-size: 1.6rem;
}
@media screen and (min-width: 886px) and (max-width: 950px) {
    .logo {
        top: 5.7rem;
    }
}
@media screen and (min-width: 500px) and (max-width: 620px) {
    .logo {
        top: 4rem;
    }
}
.logo-blue {
    color: #fff;
    background: rgba(145, 150, 205, 0.83);
    border: rgba(155, 202, 255, 0.81) 3px solid;
}
.logo:hover {
    width: 5rem;
    height: 2.5rem;
    font-size: 2rem;
}
.logo-blue:hover {
    background: rgba(175, 175, 224, 0.72);
    border: rgba(195, 195, 237, 0.84) 8px solid;
}

/*    footer    */

.site-footer {
    border-top: #fff 1px solid;
    padding: 1rem;
}
.site-footer-message {
    color: #ffffff;
    padding: 2rem;
}