
    /*    General Typography    */
body {
    font-family: Tahoma, sans-serif;
}

    /*    Anchor Tags    */
a {
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

    /*    Quotes    */
q:before {
    content: "\0022";
}
q:after {
    content: "\0022";
}

    /*    headings    */
h1 {
    text-align: center;
}

    /*    link list    */
ul.link-list {
    list-style: none;
    padding-left: 0;
}
ul.link-list li {
    display: inline-block;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 10px;
}
ul.link-list li:before {
    content: ">>";
    letter-spacing: -3px;
}

    /*    footer    */
footer span {
    color: #ffffff;
    padding: 20px;
}
.footer-blessing {
    padding: 50px;
}