
/*footer cover fix*/

body {
    margin-bottom: 6rem;
}

/*page header*/

.page-header {
    text-align: center;
}

/*cart*/

.cart {
    float: right;
    margin: 1rem;
}

/*items summery*/

.items-summery {
    position: fixed;
    top: 20rem;
    right: 0;
    background-color: #F9F9F9;
    font-size: 1rem;
}
.items-summery ul {
    list-style: none;
    margin: 0.5rem;
    padding: 0.5rem;
}

/*pagination*/

.pagination-container {
    float: left;
}

.pagination-container .pagination {
    margin: 1rem;
}

.per-page-selection {
    vertical-align: top;
    margin: 1.6rem 0;
}

.dashboard {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #BEBEBE;
    height: 6rem;
    width: 100%;
    z-index: 1;
}

.coupon-form {
    float: left;
}
.coupon-wrapper {
    margin: 1.4rem 3rem;
}

.order-form {
    float: right;
}
.order-wrapper {
    margin: 1.4rem 3rem;
}



/*responsive layout*/

.container .table-layout {
    margin: 0 10rem;
}
.pagination-container {
    margin: 0 9rem;
}
.cart {
    margin-right: 10rem;
}

@media screen and (max-width: 990px) {
    .container .table-layout {
        margin: 0;
    }
    .pagination-container {
        margin: 0;
    }
    .cart {
        margin-right: initial;
    }
}
@media screen and (max-width: 900px) {
    .items-summery {
        position: static;
        clear: both;
    }
}

@media screen and (max-width: 800px) {
    .table-cell.item-description,
    .table-cell.item-id,
    .table-cell[data-header="description"],
    .table-cell[data-header="id"] {
        display: none;
    }
    .table-layout {
        width: 100%;
    }
    .table-heading .table-cell {
        text-align: left;
    }
    .coupon-wrapper .form-control {
        display: inline-block;
        width: auto;
    }
}

@media screen and (max-width: 420px) {
    [data-itemid] {
        display: block;
    }
}