

.clickable {
    cursor: pointer;
}


.btn.change-amount {
    width: 1.75rem;
    padding: 0.05rem;
}
@media screen and (min-width: 800px) {
    .btn.change-amount:last-child {
        -webkit-border-radius: 0 0 7px 0;
        -moz-border-radius: 0 0 7px 0;
        border-radius: 0 0 7px 0;
    }

    .btn.change-amount:nth-child(2) {
        -webkit-border-radius: 0 0 0 7px;
        -moz-border-radius: 0 0 0 7px;
        border-radius: 0 0 0 7px;
    }
}